@import url("header.css");
@import url("login.css");
@import url("register.css");
@import url("basket.css");
@import url("product.css");
@import url("account.css");
@import url("order.css");

:root {
  --black: #0D0D0D;
  --amber: #BF491F;
  --caramel: #D97925;
  --orange: #F29E38;
  --miel: #F2CB57;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body {
  flex-grow: 1; /* Prend tout l'espace restant */
  max-height: calc(100vh - 65px); /* Limite la hauteur pour ne pas dépasser la fenêtre moins le header */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse */
}

.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.App-logo {
  height: 65px;
  margin-left: 20px;
  margin-right: 20px;
}

.Footer {
  background-color: #d1d1d1;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Banner {
  position: fixed;
  top: 80px;
  right: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #cc4141;
}