:root {
  --black: #0D0D0D;
  --amber: #BF491F;
  --caramel: #D97925;
  --orange: #F29E38;
  --miel: #F2CB57;
}


.App {
  text-align: center;

}

.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.CardDiscount {
  height: 50px;
  width: 50px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  margin-top: 5px;
  margin-left: 145px;
}

.CardDescription {
  width: 180px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardName {
  height: 30px;
  width: 180px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardTitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--black)
}

.CardImage {
  height: 180px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
}

.CardImage > img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.CardButtons {
  height: 60px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardNumberButton, .CardBuyButton {
  background-color: var(--amber);
  color: white;
  font-weight: bold;
  width: 89px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardNumberButton {
  border-radius: 15px 0 0  15px;
  border: #0D0D0D;
  width: 65px;
  height: 58px;
  padding-left: 15px;
  padding-right: 10px;
}

.CardBuyButton {
  border-radius: 0 15px 15px 0;
}

.CardArea {
  height: 375px;
  width: 200px;
  background-color: var(--miel);
  margin-top: 20px;
  border-radius: 10px;
}

.body {
  max-height: 90vh;
  overflow-y: scroll;
}

.App-logo {
  height: 65px;
  pointer-events: none;
  margin-left: 20px;
  margin-right: 20px;
}

.Header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d1d1d1;
  width: 100vw;
  height: 65px;
  top: 0px;
}

.link {
  text-decoration: none;
  color: black;
  display: inline-block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > .link {
  margin-left: 20px;
  margin-right: 20px;
}

.Footer {
  background-color: #d1d1d1;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
