:root {
  --black: #0D0D0D;
  --amber: #BF491F;
  --caramel: #D97925;
  --orange: #F29E38;
  --miel: #F2CB57;
}


.App {
  text-align: center;

}

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  margin-bottom: 20px;
  align-items: flex-start;
}

.CardArea {
  min-height: 420px;
  width: 200px;
  background-color: var(--miel);
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  margin-right: 5px;
}

.CardDiscount {
  height: 50px;
  width: 50px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.CardDescription {
  width: 180px;
  height: 50px;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardName {
  height: 40px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardTitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--black)
}

.CardImage {
  height: 180px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
}

.CardImage > img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.CardButtons {
  height: 60px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CardNumberButton, .CardBuyButton {
  background-color: var(--amber);
  color: white;
  font-weight: bold;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.CardNumberButton {
  border-radius: 15px 0 0  15px;
  border: #0D0D0D;
  width: 40px;
  height: 58px;
  padding-left: 15px;
  padding-right: 10px;
}

.CardBuyButton {
  width: 114px;
  border-radius: 0 15px 15px 0;
}



.body {
  max-height: 89.7vh;
  overflow-y: scroll;
}

.icon {
  height: 30px;
  cursor: pointer;
}

.BasketContainer {
  position: relative;
}

.BasketArea {
  position: absolute;
  left: -130px;
  margin-top: 19px;
  z-index: 2;
  background-color: rgb(233, 233, 233);
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.BasketTitle {
  border-bottom: #0D0D0D 1px solid;
  background-color: rgb(213, 213, 213);
  font-size: 20px;
  padding-top: 5px;
}

.BasketArticle {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 40px;
}

.BasketTotalPrice {
  padding-bottom: 20px;
  border-top: #0D0D0D 1px solid;
  background-color: rgb(213, 213, 213);
}

.BasketQuantity {
  width: 50px;
  margin-right: 5px;
}


.BasketArticles {
  padding-top: 10px;
  height: 381px;
  overflow-y: scroll;
}

.BasketNumberButton {
  border: #0D0D0D;
  width: 40px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.BasketBuyButton {
  height: 50px;
  cursor: pointer;
  background-color: var(--amber);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none; 
}

.HandleBasket {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

#NoBasketContent {
  display: block;
  margin-top: 50%;
}

.OrderArticles {
  padding-top: 50px;
  padding-bottom: 50px;
}

.OrderArea {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-top: 19px;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.OrderTitle {
  border-bottom: #0D0D0D 1px solid;
  background-color: rgb(213, 213, 213);
  font-size: 20px;
  padding-top: 5px;
}

.OrderArticle {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 40px;
}

.OrderArticle > a {
  width: 25%;
}

.OrderArticle > .NameArticle {
  text-align: left;
}

.OrderTotalPrice {
  width: 25%;
  margin-left: auto;
  padding-bottom: 20px;
  border-top: #0D0D0D 1px solid;
}

.OrderDetail {
  width: 95%;
  margin-right: auto;
}

.OrderBuyButton {
  height: 50px;
  cursor: pointer;
  background-color: var(--amber);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none; 
  margin-top: 10px;
}

.CloseButton {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  height: 19px;
  width: 19px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  color: wheat;
  background-color: grey;
}

.HideArea {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 1;
  opacity: 50%;
}

.LoginArea {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 340px;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.LoginTitle {
  display: flex;
  width: 100%;
}

.LoginTitle > .Login, .Register {
  margin-top: 20px;
  margin-left: 20px;
}

.Login {
  color: #6192fb;
  font-weight: bold;
  border-bottom: 2px solid currentColor;
}

.Register {
  font-weight: bold;
  color: grey;
  text-decoration: none;
}

.Register:hover {
  color: black;
}

.LoginData {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.LoginInput {
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
}

.ForgotPwd {
  color: #6192fb;
  text-decoration: none;
  text-align: left;
  margin-top: 10px;
}

.LoginButton {
  cursor: pointer;
  margin-top: 20px;
  width: 90%;
  font-weight: bold;
  color: white;  
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #6192fb;
}

.RegisterArea {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.RegisterPersonal > select {
  width: 49%;
}

.RegisterPersonal > input {
  width: 48%;
}

.RegisterAddress > input {
  width: 48%;
}

.RegisterAddress > select {
  width: 49%;
}

.RegisterPassword > input {
  width: 48%;
}

.RegisterPwdRule {
  width: 100%;
}

.RegisterPersonal, .RegisterPassword, .RegisterAddress {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.RegisterButton {
  width: 70%;
  margin-top: 20px;
  font-weight: bold;
  color: white;  
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #6192fb;
}

.RecoverArea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.AccountContainer {
  position: relative;
}

.AccountPopupArea {
  position: absolute;
  left: -50px;
  margin-top: 27px;
  z-index: 2;
  background-color: rgb(233, 233, 233);
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
}

.AccountTitle {
  display: flex;
  width: 100%;
  justify-content: start;
}

.AccountTitle > h1 {
  margin-left: 50px;
}

.AccountArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.AccountMenuArea {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AccountMenuButtonArea {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.AccountMenuButton {
  display: flex;
  justify-content: start;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding-bottom: 25px;
  padding-top: 20px;
  cursor: pointer;
}

.AccountArea .selected {
  text-decoration: underline;
  color: var(--orange);
}

.AccountMenuButton:hover {
  text-decoration: underline;
  color: var(--orange);
}

.AccountDataArea {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.AccountPersonnalDataArea {
  display: flex;
  border: 4px solid var(--orange);
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
}

.AccountAddressDataArea {
  display: flex;
  border: 4px solid var(--orange);
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
}

.AccountDetailButton {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.AccountDetailText {
  display: flex;
  justify-content: start;

}

.AccountDetailPrice {
  display: flex;
  justify-content: end;
  
}




.App-logo {
  height: 65px;
  margin-left: 20px;
  margin-right: 20px;
}

.Header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d1d1d1;
  width: 100vw;
  height: 65px;
  top: 0px;
}

.link {
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
}

Link {
  text-decoration: none;  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > .link {
  margin-left: 20px;
  margin-right: 20px;
}

.Footer {
  background-color: #d1d1d1;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Banner {
  position: fixed;
  top: 80px;
  right: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #cc4141;
}

.basket-quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  .AccountArea {
    flex-direction: column;
  }

  .AccountMenuArea,
  .AccountDataArea {
    padding: 10px;
  }

  .AccountMenuButton {
    margin: 5px 0;
    padding: 10px;
  }
}