
.LoginArea {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 340px;
	background-color: #ffffff;
	z-index: 2;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	transform: translate(-50%, -50%);
}

.LoginTitle {
	display: flex;
	width: 100%;
}

.LoginTitle > .Login, .Register {
	margin-top: 20px;
	margin-left: 20px;
}

.Login {
	color: #6192fb;
	font-weight: bold;
	border-bottom: 2px solid currentColor;
}

.LoginData {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.LoginInput {
	margin-top: 20px;
	font-size: 20px;
	height: 50px;
}

.LoginButton {
	cursor: pointer;
	margin-top: 20px;
	width: 90%;
	font-weight: bold;
	color: white;  
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 10px;
	background-color: #6192fb;
}

@media (max-width: 768px) {
	.LoginArea {
		width: 90%;
	}
}