
.CardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	justify-content: flex-start;
	margin-bottom: 20px;
	align-items: flex-start;
}

.CardArea {
	min-height: 420px;
	width: 200px;
	background-color: var(--miel);
	margin-top: 20px;
	border-radius: 10px;
	position: relative;
	margin-right: 5px;
}

.CardDiscount {
	height: 50px;
	width: 50px;
	background-color: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.CardDescription {
	width: 180px;
	height: 50px;
	margin: auto;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.CardName {
	height: 40px;
	width: 180px;
	margin: auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.CardTitle {
	font-size: 20px;
	font-weight: bold;
	color: var(--black)
}

.CardImage {
	height: 180px;
	width: 180px;
	margin: auto;
	margin-top: 10px;
}

.CardImage > img {
	height: 180px;
	width: 180px;
	border-radius: 10px;
}

.CardButtons {
	height: 60px;
	width: 180px;
	margin: auto;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.CardNumberButton, .CardBuyButton {
	background-color: var(--amber);
	color: white;
	font-weight: bold;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.CardNumberButton {
	border-radius: 15px 0 0  15px;
	border: #0D0D0D;
	width: 40px;
	height: 58px;
	padding-left: 15px;
	padding-right: 10px;
}

.CardBuyButton {
	width: 114px;
	border-radius: 0 15px 15px 0;
}